@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vw;
}

.container-header {
    width: 970px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(37, 80, 90, 0.6), rgba(37, 80, 90, 0.6)),
        url("./images/landing-background.PNG");
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #919c9e;
    height: 600px;
}

.navigation {
    display: inline-flex;
    width: 100%;
    justify-self: right;
}

.search-container {
    margin: auto;
    padding: 20px 20px;
    background-color: rgba(255, 255, 255, 0.3);
}

.search-container label {
    background: none;
    border: none;
    text-transform: uppercase;
    margin-right: 20px;
    font-size: 18px;
    font-family: "Lato";
    font-weight: normal;
    color: rgba(217, 217, 217, 255);
    outline: none;
}

.search-container .form-radio input {
    display: none;
}

.search-container .form-radio input:checked + label {
    font-weight: bold;
    color: white;
}

.search-container button:active {
    font-weight: bold;
}

.stats {
    display: inline-flex;
    color: #eeeff0;
}

.container-body {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
}

.related-cards {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
}

.related-card {
    width: 280px;
}

.related-card img {
    object-fit: cover;
    width: 100%;
    height: 200px;
    overflow: hidden;
}
