@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
    box-sizing: border-box;
}

body {
    background-color: #d0d5e4;
    font-family: "Open Sans", sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-container {
    background-color: white;
    flex-direction: column;
    width: 940px;
    padding-bottom: 200px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.body-header {
    margin: 30px 30px;
    display: inline-flex;
    width: 100%;
}

button:hover {
    cursor: pointer;
}

.body-header button {
    background-color: white;
    color: #0e1731;
    border-width: 0;
    font-size: 14px;
    font-weight: 600;
    margin: 0 10px;
    padding: 0;
    outline: none;
}

.body-header :first-child {
    margin-left: 0;
    padding: 0;
}

.body-header button:last-of-type {
    margin-right: auto;
}

.body-header .fa {
    margin-left: 2px;
    margin-right: 3px;
    width: 3px;
}

.login {
    justify-self: flex-end;
    align-self: center;
    margin-right: 60px;
}

.login .btn-login {
    border-width: 1px;
    border-color: #f5f6f9;
    padding: 10px 16px;
    border-radius: 20px;
    font-size: 13px;
    color: #0e1731;
}

.login .btn-get-started {
    background-color: #0e1731;
    font-weight: 400;
    color: white;
}

.body-container hr {
    background-color: #f5f6f9;
    width: 100%;
    height: 2px;
    opacity: 0.3;
    margin: 0 0;
}

.main-content {
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
}

.content-navigator {
    margin: 20px 0;
    display: inline-flex;
    width: 100%;
}

.content-navigator button {
    background-color: white;
    color: #0e1731;
    border-width: 0;
    font-size: 14px;
    font-weight: 600;
    margin: 0 8px;
    padding: 0;
    outline: none;
}

.content-navigator :first-child {
    margin-left: 0;
    padding: 0;
}

.content-navigator button:last-of-type {
    margin-right: auto;
}

.content-navigator .content-nav-right {
    justify-items: flex-end;
    align-self: flex-end;
}

.fa-search {
    font-size: 16px;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin: auto;
}

.card-main {
    background-color: inherit;
    width: 100%;
    overflow: hidden;
}

.cards-related {
    background-color: inherit;
    width: 100%;
    overflow: hidden;
}

.card-main-header img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 3px;
}

.card-main-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card-main-body h2 {
    font-size: 26px;
    margin: 15px 0;
    font-weight: bold;
}

.card-main-body p {
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 20px;
    line-height: 1.5;
}

.user-main {
    display: flex;
    margin-top: auto;
}

.user-main img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-main h5 {
    margin: 0;
    font-weight: 200;
    font-size: 15px;
    align-self: center;
}

.cards-related h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.card-related {
    width: 100%;
    height: 125px;
    display: flex;
    margin: 20px 0;
}

.card-related-header img {
    width: 125px;
    height: 125px;
    object-fit: cover;
    margin-right: 15px;
}

.card-related-body {
    align-self: start;
}

.card-related-body h4 {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.user-related {
    display: flex;
    margin-top: 10px;
}

.user-related img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-related h5 {
    margin: 0;
    font-weight: 200;
    font-size: 15px;
    align-self: center;
}

@media (max-width: 768px) {
    body {
        align-items: flex-start;
        justify-content: flex-start;
    }

    .body-container {
        width: 100%;
        margin: 0;
        padding: 0 0 200px;
    }
    .card-container {
        grid-template-columns: 1fr;
    }
}
